/* line 5, ../sass/index.scss */
.orange-dark-clr {
  color: #d43219;
}

/* line 9, ../sass/index.scss */
.orange-dark2-clr {
  color: #d66a2c;
}

@font-face {
  font-family: "Trebuchet MS";
  src: url("../fonts/trebuc.ttf") format("opentype");
}
@font-face {
  font-family: "Trebuchet MS";
  font-weight: bold;
  src: url("../fonts/trebucbd.ttf") format("opentype");
}
/* line 24, ../sass/index.scss */
body, html {
  height: 100%;
}

/* line 28, ../sass/index.scss */
.page {
  font-size: 14px;
  font-family: "Trebuchet MS";
}
/* line 31, ../sass/index.scss */
.page input, .page textarea, .page button {
  font-family: "Trebuchet MS";
}
/* line 34, ../sass/index.scss */
.page a {
  color: inherit;
}
/* line 37, ../sass/index.scss */
.page .bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  bottom: 0;
  background: url("../assets/images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 50, ../sass/index.scss */
.page {
  margin: 31px auto 31px auto;
  width: 794px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #b5b5b5;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.21);
}
/* line 59, ../sass/index.scss */
.page * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 62, ../sass/index.scss */
.page header {
  padding: 20px 15px  20px 56px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}
/* line 70, ../sass/index.scss */
.page header .logo {
  margin-top: 5px;
}
/* line 74, ../sass/index.scss */
.page .btn {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(84, 19, 9, 0.75);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMjMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiM2QwNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RiM2QwNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.23)), color-stop(100%, rgba(255, 255, 255, 0.23))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #db3d07), color-stop(100%, #db3d07));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.23), rgba(255, 255, 255, 0.23)), -moz-linear-gradient(#db3d07, #db3d07);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.23), rgba(255, 255, 255, 0.23)), -webkit-linear-gradient(#db3d07, #db3d07);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.23), rgba(255, 255, 255, 0.23)), linear-gradient(#db3d07, #db3d07);
}
/* line 81, ../sass/index.scss */
.page .btn:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMjMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiM2QwNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RiM2QwNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.23)), color-stop(100%, rgba(255, 255, 255, 0.23))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #db3d07), color-stop(100%, #db3d07));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.23), rgba(255, 255, 255, 0.23)), -moz-linear-gradient(#db3d07, #db3d07);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.23), rgba(255, 255, 255, 0.23)), -webkit-linear-gradient(#db3d07, #db3d07);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.23), rgba(255, 255, 255, 0.23)), linear-gradient(#db3d07, #db3d07);
}
/* line 85, ../sass/index.scss */
.page nav {
  height: 31px;
  display: flex;
  position: relative;
  border-top: 1px solid #f7ddd5;
  border-bottom: 2px solid #e3693f;
}
/* line 91, ../sass/index.scss */
.page nav a.btn {
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  flex-shrink: 0;
  border-right: 1px solid #a92f07;
}
/* line 101, ../sass/index.scss */
.page nav a.btn.active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  color: #d43219;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.11), rgba(255, 255, 255, 0.11)), linear-gradient(#f9bb24, #f9bb24);
}
/* line 106, ../sass/index.scss */
.page nav a.btn:not(:first-child) {
  border-left: 1px solid #e3693f;
}
/* line 109, ../sass/index.scss */
.page nav a.btn.home {
  padding-right: 15px;
  padding-left: 56px;
  flex-grow: 0;
}
/* line 116, ../sass/index.scss */
.page .breadcrump {
  line-height: 1;
  padding: 0 56px;
  margin: 9px 0 23px 0;
  font-size: 10px;
}
/* line 122, ../sass/index.scss */
.page .content {
  padding: 0 56px 11px 56px;
  display: flex;
  flex-direction: column;
}
/* line 126, ../sass/index.scss */
.page .content h1 {
  border-left: 4px solid #5c5646;
  border-bottom: 2px solid #f9bc24;
  font-size: 18px;
  font-weight: bold;
  color: #d43219;
  padding: 5px 6px;
  margin-bottom: 14px;
}
/* line 135, ../sass/index.scss */
.page .content .media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* line 139, ../sass/index.scss */
.page .content .media .item {
  display: flex;
  flex-direction: column;
}
/* line 142, ../sass/index.scss */
.page .content .media .item:not(:last-child) {
  margin-bottom: 23px;
}
/* line 145, ../sass/index.scss */
.page .content .media .item .desc {
  font-size: 10px;
  margin-top: 4px;
  text-align: center;
}
/* line 152, ../sass/index.scss */
.page .content .media .carousel .owl-dots {
  counter-reset: dots;
  display: flex;
  margin-bottom: 2px;
  justify-content: center;
}
/* line 158, ../sass/index.scss */
.page .content .media .carousel .owl-dot {
  width: 14px;
  height: 14px;
  outline: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 10px;
  color: #fff;
  border-radius: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.23), rgba(255, 255, 255, 0.23)), linear-gradient(#db3d07, #db3d07);
  border: solid 1px #ac3109;
}
/* line 172, ../sass/index.scss */
.page .content .media .carousel .owl-dot:not(:last-child) {
  margin-right: 5px;
}
/* line 175, ../sass/index.scss */
.page .content .media .carousel .owl-dot:hover {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.23), rgba(255, 255, 255, 0.23)), linear-gradient(#db3d07, #db3d07);
}
/* line 178, ../sass/index.scss */
.page .content .media .carousel .owl-dot.active {
  color: #d43219;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.23), rgba(255, 255, 255, 0.23)), linear-gradient(#ffffff, #ffffff);
}
/* line 183, ../sass/index.scss */
.page .content .media .carousel .owl-dot:before {
  counter-increment: dots;
  content: counter(dots);
}
/* line 187, ../sass/index.scss */
.page .content .media .carousel .owl-prev, .page .content .media .carousel .owl-next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  outline: none;
  top: 0;
  bottom: 0;
  width: 12%;
  transition: background-color .3s;
  background-color: rgba(212, 50, 25, 0.3);
}
/* line 198, ../sass/index.scss */
.page .content .media .carousel .owl-prev:hover, .page .content .media .carousel .owl-next:hover {
  background-color: rgba(212, 50, 25, 0.5);
}
/* line 202, ../sass/index.scss */
.page .content .media .carousel .owl-prev {
  left: 0;
}
/* line 205, ../sass/index.scss */
.page .content .media .carousel .owl-next {
  right: 0;
}
/* line 209, ../sass/index.scss */
.page .content .media video {
  width: 100%;
}
/* line 214, ../sass/index.scss */
.page .section {
  display: flex;
  justify-content: space-between;
}
/* line 217, ../sass/index.scss */
.page .section.info-section {
  margin-bottom: 24px;
}
/* line 220, ../sass/index.scss */
.page .section h3 {
  font-family: Georgia, serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 226, ../sass/index.scss */
.page .section p {
  font-size: 12px;
  line-height: 1.2;
}
/* line 230, ../sass/index.scss */
.page .section .info {
  margin-right: 60px;
  word-spacing: .5px;
}
/* line 233, ../sass/index.scss */
.page .section .info > div:not(:last-child) {
  margin-bottom: 20px;
}
/* line 237, ../sass/index.scss */
.page .section .media {
  width: 284px;
  flex-shrink: 0;
}
/* line 242, ../sass/index.scss */
.page #contactForm {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}
/* line 246, ../sass/index.scss */
.page #contactForm .inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
/* line 250, ../sass/index.scss */
.page #contactForm .inputs input, .page #contactForm .inputs textarea {
  width: 100%;
  padding: 10px 12px;
  box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.21);
  background-color: #ffffff;
  border: solid 1px #b5b5b5;
  border-radius: 5px;
  outline: none;
}
/* line 61, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/css3/_user-interface.scss */
.page #contactForm .inputs input:-moz-placeholder, .page #contactForm .inputs textarea:-moz-placeholder {
  font-weight: bold;
  color: #f9bc24;
}
/* line 64, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/css3/_user-interface.scss */
.page #contactForm .inputs input::-moz-placeholder, .page #contactForm .inputs textarea::-moz-placeholder {
  font-weight: bold;
  color: #f9bc24;
}
/* line 67, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/css3/_user-interface.scss */
.page #contactForm .inputs input:-ms-input-placeholder, .page #contactForm .inputs textarea:-ms-input-placeholder {
  font-weight: bold;
  color: #f9bc24;
}
/* line 56, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/css3/_user-interface.scss */
.page #contactForm .inputs input::-webkit-input-placeholder, .page #contactForm .inputs textarea::-webkit-input-placeholder {
  font-weight: bold;
  color: #f9bc24;
}
/* line 264, ../sass/index.scss */
.page #contactForm .inputs input:not(:last-child) {
  margin-bottom: 13px;
}
/* line 268, ../sass/index.scss */
.page #contactForm .inputs textarea {
  resize: none;
  height: 100%;
}
/* line 272, ../sass/index.scss */
.page #contactForm .inputs .left, .page #contactForm .inputs .right {
  width: 297px;
}
/* line 276, ../sass/index.scss */
.page #contactForm .button-set {
  display: flex;
  justify-content: flex-end;
}
/* line 279, ../sass/index.scss */
.page #contactForm .button-set .btn {
  border: solid 1px #ac3109;
  border-radius: 10px;
  padding: 4px 21px 6px 21px;
}
/* line 286, ../sass/index.scss */
.page footer {
  height: 31px;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 6px 56px 8px 56px;
  border-top: 1px solid #f4e8e5;
  background-image: linear-gradient(0deg, #e5dbd7 0%, #ffffff 100%);
  font-size: 10px;
  color: #595846;
  text-align: center;
}
/* line 297, ../sass/index.scss */
.page footer .credits {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  line-height: 1.8;
}
